# Ignore everything but root items:
/*
!.gitignore
!README.md
!desktop
!toolbar
!otls
!scripts

# Desktop adjustments:
desktop/*
!desktop/*.desk

# Toolbar adjustments:
toolbar/*
!toolbar/*.json
!toolbar/*.shelf
!toolbar/src

toolbar/src/*
!toolbar/src/*.py

# Digital asset adjustments:
otls/*
!otls/*.hda
!otls/*.otl

# Ignore specific files (typically defaults):
otls/OPcustom.hda

scripts/*
!scripts/*.py